#contateNos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 25px;
}

#contateNos h1 {
    font-size: 32px;
    text-align: center;
    color: white;
}

.contateNosContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8f8f8f;
    width: min-content;
    border-radius: 20px;
    padding: 20px;
}

.contateNosContatos {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 25vw;
}

.contateNosContatos li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contateNosContatos img {
    width: 28px;
}

.contateNosInput {
    display: flex;
    flex-direction: column;
}

.contateNosInput input {
    border-radius: 20px;
    height: 20px;
    border-style: none;
    margin-top: 5px;
}

